.Nav {
    display: flex;
    justify-content: space-between;
    background-color:orangered;
    color: white;
    padding: 15px;
    font-size: 2em;
  }
  
  .Nav a {
    color: white;
    text-decoration: none;

  }
  .head{
    font-size: 20px;
    margin-top: 20px;
  
  }
  .Nav_right{
    padding: 0;
    margin: 0;
    display: flex;
    gap: 4rem;
    margin-right: 100px;
    margin-left: 100px;
  }